nginx:
  build: /vagrant/nginx
  container_name: nginx
  volumes:
    - /var/log/nginx:/var/log/nginx
  volumes_from:
    - app
  ports:
    - '8080:8080'

postgres:
  build: /vagrant/postgres/
  container_name: postgres
  ports:
    - '5432:5432'
  volumes:
    - ~/.docker-volumes/rails-app/postgresql/data:/var/lib/postgresql/data

redis:
  image: redis:3.2.0
  container_name: redis
  ports:
    - '6379:6379'
  volumes:
    - ~/.docker-volumes/rails-app/redis/data:/var/lib/redis/data

sidekiq:
  build: .
  container_name: sidekiq
  volumes:
    - .:/app
  links:
    - redis
    - postgres
  env_file:
    - .rails-app.env
  command: bundle exec sidekiq -C config/sidekiq.yml

app:
  build: .
  container_name: rails-app
  volumes:
    - .:/app
    - /var/run/app-socket:/var/run/app-socket
  links:
    - redis
    - postgres
    - sidekiq
  env_file:
    - .rails-app.env
  command: bundle exec puma -C config/puma.rb
