nginx:
  build: ./docker-images/nginx
  container_name: nginx
  volumes:
    - {{ nginx_log_folder }}:{{ nginx_log_folder }}
  volumes_from:
    - app
  ports:
    - '8080:8080'

postgres:
  build: postgres:9.5.3
  container_name: postgres
  ports:
    - '5432:5432'
  volumes:
    - ~/.docker-volumes/rails-app/postgresql/data:{{ postgres_data_folder }}

redis:
  image: redis:3.2.0
  container_name: redis
  ports:
    - '6379:6379'
  volumes:
    - ~/.docker-volumes/rails-app/redis/data:{{ redis_data_folder }}

sidekiq:
  build: .
  container_name: sidekiq
  volumes:
    - .:{{ image_app_folder }}
  links:
    - redis
    - postgres
  env_file:
    - .rails-app.env
  command: bundle exec sidekiq -C config/sidekiq.yml

app:
  build: .
  container_name: app
  volumes:
    - .:{{ image_app_folder }}
    - {{ app_server_socket_folder }}:{{ app_server_socket_folder }}
  links:
    - redis
    - postgres
    - sidekiq
  env_file:
    - .rails-app.env
  command: bundle exec puma -C config/puma.rb
