postgres:
  image: postgres:9.5.3
  container_name: postgres
  ports:
    - '5432:5432'
  volumes:
    - ~/.docker-volumes/rails-app/postgresql/data:/var/lib/postgresql/data

app:
  build: .
  container_name: rails-app
  volumes:
    - .:/app
  links:
    - postgres
  ports:
    - '3000:3000'
  env_file:
    - .rails-app.env
  command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
